<a href="https://colab.research.google.com/github/InduYadav689/Diabetes_Prediction/blob/main/programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hi Again !!")

Hi Again !!

In [ ]:
name = "Zaheer"
print(name)

Zaheer

In [ ]:
name = input("Enter your name ")

print(name)

Enter your name Saleem bhai
Saleem bhai

In [ ]:
age = int(input("Enter age : "))
print(age)

Enter age : 18
18

In [ ]:
value = float(input("Float value "))
print(value)

Float value 193.94939
193.94939

In [ ]:
a = """ Hi try to
do the programs everyday"""

print(a)

 Hi try to
do the programs everyday

In [ ]:
Name = "Althaf"

print(len(Name))  #length of the string

'''slicing concepts in string
'''
print(Name[0])
print(Name[0:6])
print(Name[-1])

6
l

In [ ]:
a = "St Joseph"
print(a[3:9])

Joseph

In [ ]:
Name = "Kumar"

print(Name.upper())
print(Name.lower())

KUMAR
kumar

In [ ]:
a = "Shiva"
b = "Kumar"
c = a + " " + b
print(c)

Shiva Kumar

In [ ]:
a = "3"
b = "zaheer"

c= a+b
print(c)

# type(p)

3zaheer

In [ ]:
a = "Never Settle"

print(a[-1:-4])

In [ ]:
a = int(input("Enter a value : "))

b = int(input("Enter b value:  "))

k = a > b


if k == True :
  print("a is greater")
else:
  print("a is not greater")

Enter a value : 15
Enter b value:  30
a is not greater

In [ ]:
myList = ["apple", True , 99 ]

myList.append("Name")  #to add the element at last

print(myList)

print(len(myList))  #length of list / array

myList[0] = "Banana"   #to update the list/array elements

print(myList)

myList.remove(99) #to remove

print(myList)

myList.append("mango")  #to add the element at last

print(myList)

myList.pop(2)   #to remove perticular item in a list

print(myList)


myList.insert( 0 , "new ele" ) #to add elements at particular index

print(myList)


myList.clear( )

print(myList)
print("the list is clear / empty")

['apple', True, 99, 'Name']
4
['Banana', True, 99, 'Name']
['Banana', True, 'Name']
['Banana', True, 'Name', 'mango']
['Banana', True, 'mango']
['new ele', 'Banana', True, 'mango']
[]
the list is clear / empty

In [ ]:
list = [1,2,3,4,6,66,77,2,3,1,6]
list.sort(reverse=True)
print(list)

list.reverse()
print(list)

[77, 66, 6, 6, 4, 3, 3, 2, 2, 1, 1]
[1, 1, 2, 2, 3, 3, 4, 6, 6, 66, 77]

In [ ]:
#to write a program for performing all the arthimatic operations
#to make a simple calculater
#type - 1

a = int(input("Enetr a value :"))
b = int(input("Enetr b value :"))

add = a + b
sub = a - b
mul = a * b
div = a/b
mod = a%b
quo = a//b
exp = a**b

print("Addition :", add)
print("subtraction : ", sub)
print("multiplication :",mul)
print("division : ", div)
print("Mod : ", mod)
print("Quo : ", quo)
print("Expo : ", exp)

Enetr a value :2
Enetr b value :1
Addition : 3
subtraction :  1
multiplication : 2
division :  2.0
Mod :  0
Quo :  2
Expo :  2

In [ ]:
#to write a program for performing all the arthimatic operations
#to make a simple calculater
#Type 2
a = int(input("Enetr a value :"))
b = int(input("Enetr b value :"))


print("Addition :",  a + b)
print("subtraction : ", a - b)
print("multiplication :",a * b)
print("division : ", a/b)
print("Mod : ", a%b)
print("Quo : ", a//b)
print("Expo : ", a**b)

Enetr a value :1
Enetr b value :2
Addition : 3
subtraction :  -1
multiplication : 2
division :  0.5
Mod :  1
Quo :  0
Expo :  1

In [ ]:
#Comparison Operators

a = 10
b= 20

print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [ ]:
# Define some boolean values
a = True
b = False

# Using logical operators
print(a and b)  # Logical AND: True if both a and b are True, else False - F
print(a or b)   # Logical OR: True if either a or b is True - T
print(not a)    # Logical NOT: Inverts the value of a - F
print(not b)    # Logical NOT: Inverts the value of b - T

False
True
False
True

In [ ]:
a = 10

'''
a+=2  #a = 10+2
print(a)


a*=2
print(a)
'''

a **=2
print(a)

100

In [ ]:
a = 1
b = 0

print(a or a and b)

1

In [ ]:
a = 100
b = 1000
if a>b:
  print("if part")
elif a==b:
  print("elif part")
else:
  print("else part")

else part

In [ ]:
a = 99
b = 88

if a > b :
  if a>100:
    print("100")
  else:
    print("<100")
else:
  print("a<b")

<100

In [ ]:
#Task- Write a program to check the student has passed the exam or no

#if got above 60 or equal to 60 then pass orelse fail

#s1,s2,s3,s4 find avg return the average of students marks

s1 = int(input())
s2 = int(input())
s3 = int(input())
s4 = int(input())

avg = (s1+s2+s3+s4)/4

if (s1>=60 and s2>=60 and s3>=60 and s4>=60 ):
  print("Pass",avg)
else:
  print("Fail")

66
65
44
99
Fail

In [ ]:

#OR
a = 200
b = 333
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

else:
  print("Nothing")

Nothing

In [ ]:
print(3|7)
print(bin(3|7)[2:])

7
111

In [ ]:
print(bin(3 & 7)[2:])

11

In [ ]:
#write a program to find the greatest number amoung the given 3 numbers


a = 33
b = 44
c = 433

print(max(a,b,c))
print(min(a,b,c))

433
33

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
for x in "abnana":
  print(x)

b
a
n
a
n
a

In [ ]:
for i in range(1,10): #number of iterations = n-1
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for j in "zaheer sha":
  print(j)

z
a
h
e
e
r

s
h
a

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(0, 10, 2):
  print(x)

0
2
4
6
8

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x) #012345
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
array1 = ["red", "big", "tasty"]
array2 = ["apple", "banana", "cherry"]
array3 = ["1", "2", "3"]

#nested for loops
for x in array1:
  for y in array2:
    for z in array3:
      print(x, y, z)

red apple 1
red apple 2
red apple 3
red banana 1
red banana 2
red banana 3
red cherry 1
red cherry 2
red cherry 3
big apple 1
big apple 2
big apple 3
big banana 1
big banana 2
big banana 3
big cherry 1
big cherry 2
big cherry 3
tasty apple 1
tasty apple 2
tasty apple 3
tasty banana 1
tasty banana 2
tasty banana 3
tasty cherry 1
tasty cherry 2
tasty cherry 3

In [ ]:
#reversing a string using slicing

string = "ragupriya"
#string[start:end:-1]
reversed_string = string[::-1]
print(reversed_string)

ayirpugar

In [ ]:
#reversing a string using loops

string = input("Enter a string: ")
reversed_string = ""
for char in string:
    reversed_string = char + reversed_string
print("Reversed string:", reversed_string)

Enter a string: zaheer
Reversed string: reehaz

In [ ]:
#palindrome
string = input("Enter a word")
reversed_string = string[::-1]

if (reversed_string == string ) :
  print("palindrome")
else:
  print("not a palindrome")

Enter a wordzaheer
not a palindrome

In [ ]:
# Program to Find the Square of a Number

a = int(input())

#square = a*a

print("square of number is : ", a*a)

5
square of number is :  25

In [ ]:
#Program to Check if a Number is Even or Odd


num = int(input())

if num % 2 == 0:
  print("Even no")
else:
  print("odd")

1000
Even no

In [ ]:
#Program to Find the Largest of Three Numbers

n1 = 10
n2 = 15
n3 = 8

if n1 >=n2 and n1 >= n3:
  print("larger number is n1 ",n1)
elif n2 >= n1 and n2 >= n3 :
  print("larger number is n2 ",n2)
else:
  print("larger number is n3 ",n3)

larger number is n2  15

In [ ]:
#Program to Find the Largest of Three Numbers

n1 = 10
n2 = 15
n3 = 8

if n1 >=n2 and n1 >= n3:
  larger = n1
elif n2 >= n1 and n2 >= n3 :
  larger = n2
else:
  larger = n3

print("Largest of the three numbers is : ",larger)

Largest of the three numbers is :  15

In [ ]:
#Program to Swap Two Numbers

a = 10
b = 30
c = 50

print("Before")
print("a :",a)
print("b :",b)
print("c :",c)

a,b,c = c,a,b

print("After")
print("a :",a)
print("b :",b)
print("c :",c)

print(a,b,c)

Before
a : 10
b : 30
c : 50
After
a : 50
b : 10
c : 30
50 10 30

In [ ]:
#Program to Find the Length of a String

string = "Zaheer sha"
array = ["a",1,True,"Male",0]
print(len(string))
print(len(array))

10
5

In [ ]:
#Program to Count the Occurrences of a Character in a String

string= input("Enter string : ")

char = input("which char u want to find : ")

count = string.count(char)

print("the character",char,"appeared", count,"time in a string ")

Enter string : rrr
which char u want to find : r
the character r appeared 3 time in a string

In [ ]:
# Program to Convert Temperature from Celsius to Fahrenheit

c = 25
formula = (c * 9/5 )+32
print("celsius = ",c , "Fahrenheit = ",formula)

celsius =  25 Fahrenheit =  77.0

In [ ]:
#Program to Find the Sum of Digits in a Number

digit = 6789
print("Digit data type ",type(digit))

string = str(digit)
print("string data type ", type(string))

sod = 0

for i in string :
  sod = sod + int(i)
  print("value of sod for iteration ",i,"is = ",sod)

print("sum of digits : ",sod)

Digit data type  <class 'int'>
string data type  <class 'str'>
value of sod for iteration  6 is =  6
value of sod for iteration  7 is =  13
value of sod for iteration  8 is =  21
value of sod for iteration  9 is =  30
sum of digits :  30

In [ ]:
#Program to Calculate the Factorial of a Number

num = int(input("enter the number : "))

fact = 1

for i in range(1,num+1):
  fact *= i
  print("for iteration",i,"fact value is ",fact)

print("FActorial of",num,"is",fact)

enter the number : 5
for iteration 1 fact value is  1
for iteration 2 fact value is  2
for iteration 3 fact value is  6
for iteration 4 fact value is  24
for iteration 5 fact value is  120
FActorial of 5 is 120

In [ ]:
#Program to print tables of a given number

num = int(input("Enter a number : "))

for i in range(1,11):
  print(num,"x",i,"=",num*i)

Enter a number : 200
200 x 1 = 200
200 x 2 = 400
200 x 3 = 600
200 x 4 = 800
200 x 5 = 1000
200 x 6 = 1200
200 x 7 = 1400
200 x 8 = 1600
200 x 9 = 1800
200 x 10 = 2000

In [ ]:
#Program to find whether a given year is leap year or not ?

year = int(input("Enter a year : "))
if (year % 4 == 0 and year % 100 !=0 ) or (year %400 == 0):
  print("Leap year ",year )
else:
  print("Not a leap year ")

In [ ]:
#Program to find whether a given year is leap year or not ?
year = int(input("Enter a year : "))
if (year % 4 == 0):
  print("Leap year ",year )
else:
  print("Not a leap year ")

Enter a year : 1616
Leap year  1616

In [ ]:
#Python program to find and print only the vowels from a given string

string = "Zaheer sha"

vowels = "aeiouAEIOU"

foundvowels = ""

for i in string:
  print("checking for this char : ",i)
  if i in vowels:
    foundvowels += i
    print("present checking for this character : ", i)
    print("present status of result : ", foundvowels)

print("Vowels in a string are : ",foundvowels)

checking for this char :  Z
checking for this char :  a
present checking for this character :  a
present status of result :  a
checking for this char :  h
checking for this char :  e
present checking for this character :  e
present status of result :  ae
checking for this char :  e
present checking for this character :  e
present status of result :  aee
checking for this char :  r
checking for this char :
checking for this char :  s
checking for this char :  h
checking for this char :  a
present checking for this character :  a
present status of result :  aeea
Vowels in a string are :  aeea

In [ ]:
#Program to Find the Average of Numbers in a List/array

list = [10,20,30,40,50]

total = sum(list)
length = len(list)

average = total/length

print("Average of Numbers in a List : ", average )

Average of Numbers in a List :  30.0

In [ ]:
#Program to Count the Number of Words in a String

string = input()
words = string.split()
wordcount = len(words)
print("the number of words in a string is : ", wordcount)

hello world hi intern
the number of words in a string is :  4

In [ ]:
#Program to Calculate the Power of a Number

base = 2
exponent = 3
result = 1

#type 1
exp = base**exponent
print(exp)

#type 2
r = pow(base,exponent)
print(r)

#type 3
for i in range(exponent):
  result *= base

print(base,"raised to the power of ",exponent,"is",result)

8
8
2 raised to the power of  3 is 8

In [ ]:
#Program to Find the Second Largest Element in a List

number = [22,55,66,33,44]

number.sort()

print(" the Second Largest Element in a List",number[-2])

print(number)

 the Second Largest Element in a List 55
[22, 33, 44, 55, 66]

In [ ]:
#Program to Remove All Occurrences of a Character in a String


string = "Hello World"

chartoremove = "l"

result = string.replace(chartoremove, "")

print(result)

Heo Word

In [ ]:
#Program to change All Occurrences of a Character in a String


string = "Hello World"

chartoremove = "l"

result = string.replace(chartoremove, "e")

print(result)

Heeeo Wored

In [ ]:
#Program to Convert a Decimal Number to Binary


decimal = 10

binary = bin(decimal)[2:]
print(binary)

1010

In [ ]:
#Program to Print Each Character of a String Separately

s = input("Enter the string : ")

for i in s:
  print(i)

Enter the string : python
p
y
t
h
o
n

In [ ]:
#Program to Find the Product of All Elements in a List

list = [2,3,4,5]
product = 1

for i in list:
  product *= i

print(product)

120

In [ ]:
#Program to Count the Number of Digits in a Number

num = 123456789010

result = 0

for i in str(num):
  result += 1

print(result)

12

In [ ]:
#Program to Count the Number of Even and Odd Numbers in a List

array = [3,2,4,5,7,8,9,0,1]

eve = 0
odd = 0

for i in array:
  if i%2 == 0 :
    eve += 1
  else:
    odd += 1

print("even : ", eve)
print("odd : ",odd)

even :  4
odd :  5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
for i in range(10):
 print(i)
 if i == 7:
  break

0
1
2
3
4
5
6
7

In [ ]:

for var in "AeS":
    if var == "e":
        continue
    print(var)

A
S

In [ ]:
for i in range(10):
   if i == 7:
    continue
   print(i)

0
1
2
3
4
5
6
8
9

In [ ]:
# loop from 1 to 10
for i in range(1, 11):
 if i == 6:
  continue
 else:
  print(i)

1
2
3
4
5
7
8
9
10

In [ ]:
#Right-Angled Triangle Pattern

rows = 10

for i in range(1,rows+1):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
#Inverted Right-Angled Triangle Pattern

rows = 10

for i in range(rows,0,-1):
  print("*"*i)

**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
#Square Pattern

rows =10

for i in range(rows):
  print("*"*rows)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [ ]:
#Right-Angled Triangle Pattern with Numbers

rows = 4

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
# Pyramid Pattern

rows = 4

for i in range(1,rows+1):
  #print(rows-i,2*i-1)
  print(" " * (rows - i) + "*" * (2*i-1))

   *
  ***
 *****
*******